div.header {
  background-color: #256fe8;
  height: 150px;
  width: 100%;
}

h1.header {
  text-align: center;
  padding: 20px;
  color: #94989e;
  border-color: #313235;
  border-radius: 50px;
  border-style: solid;
}

body {
    background-image: url("file:///C:/Users/18osfr/git/myFlow.se/src-image/background.jpg");
    background-repeat: no-repeat;
}
