div.content {
   padding: 55px;
   border-radius: 16px;
   border: 10px solid black;
   background-clip: padding-box;
}
html {
    background-image: url("file:///D:/git/myFlow.se/src-image/background.jpg");
    /* background-image: url("file:///C:/Users/18osfr/git/myFlow.se/src-image/background.jpg"); Laptop path */
    background-repeat: repeat-y;
    background-size: 100% auto;
}
