div.content {
   padding: 55px;
   margin: 50px 0 20px 0;
   border-radius: 16px;
   border: 10px solid black;
   background-clip: padding-box;
   background-color: #4a4a4ab8 !important;
}
html {
    /*background-image: url("file:///D:/git/myFlow.se/src-image/background.jpg"); /**/
    background-image: url('../src-image/background.jpg'); /*Laptop path*/
    background-repeat: repeat-y;
    background-size: 100% auto;
}

body {
  background-color: unset !important;
  padding-top: 60px;
}

h1 h2 h3 h4 h5 h6 p .content {
  color: #fff !important;
}

.button-css {
  overflow: hidden;
  border: 0px solid #f00;
  border-radius: 0.5rem;
  width: 70px;
}

.content {
  color: #fff;
}

/*Fixing the modal 16px changing background problem*/
.modal-open {
  overflow: auto;padding-right:0 !important;
}

#blogPosts {
  padding-left: 0 !important;
}
