body
{
    margin: 0;
}
#wrapper
{
    display: grid;
    grid-template-columns: [L1] 40px [L2] 50px [CC] auto [R2] 50px [R1] 40px;
    grid-template-rows: [T1] 25% [T2] 100px [CR] auto [B] 0px;
}

#header-wrapper
{
    display: grid;
}

#content-wrapper
{
    display: grid;
    grid-column: CC/R2;
    grid-row: T2;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: whitesmoke;
}

#footer-wrapper
{
    display: grid;
}

video
{
    z-index: -1;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
}